/*Auto Complete Background*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}


body {
    background:url('../img/bgfallout.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

span {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

button {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
}

a {
    font-weight: bold;
    width: 100%;
}

/*ID*/

#imgcontainer {
    background-color: transparent;
    width: 375px;
    height: 125px;
}

#imgcontainer img {
    margin: auto;
    margin-top: 15px;
    margin-left: 48px;
    width: 75%;
}


#main-container {
    background-color: #65dd7b;
    margin:auto;
    margin-left: -15px;
    border-radius: 8px;
    opacity: .7;
    width: 375px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

#username, #password {
    background-color:transparent;
    background: none;
    color:black;
    border: none;
    border-bottom: 2px solid black;
    outline:none;
    height:30px;
    text-align: center;
    width: 100%;
}

#login {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
}

#text {
    margin-top: 20px;
    text-align: center;
    font-size: small;
}

/*Class*/

.space {
    background-color: transparent;
    margin:auto;
    width: 375px;
    height: 30px;
    font-size: small;
    text-align: center;
}

.login-container {
    background-color: transparent;
    width: 300px;
    margin: auto;
    margin-top: -20px;
}

